<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppies Are Puppies Until They Aren't</title>
  </head>
  <body>
    <a href="#">Click Here To List A Puppy</a>
  </body>
</html>
